@import url('https://fonts.cdnfonts.com/css/maria-2');

:root {
  --board-border-color:#292929;
  --board-bg-color:#222;
  --string-color: #fff;
  --fret-color: #333;
  --marking-color: #999;
  --status-color: #999;
  --nut-color:#666;
  --nut-bg-color: #000;

  --note-border-color: #999;
  --note-bg-color: #444; 
  --note-color: #ccc;

  --note-a-bg-color: #FDAF19;
  --note-a-color: #222;
  --note-b-bg-color: #9CCB35;
  --note-b-color: #222;
  --note-c-bg-color: #D21041;
  --note-c-color: #ccc;
  --note-d-bg-color: #617421;
  --note-d-color: #ccc;
  --note-e-bg-color: #EDDA15;
  --note-e-color: #222;
  --note-f-bg-color: #9D1381;
  --note-f-color: #ccc;
  --note-g-bg-color: #E93F24;
  --note-g-color: #ccc;

  --answer-correct-color: #40b088;
  --answer-correct-bg-color: rgba(51, 170, 51, .2);
  --answer-wrong-color: #994f00;
  --answer-wrong-bg-color: rgba(170, 51, 51, .2);

  --g-1-color: #991010;
  --g-2-color: #aa1d1d;
  --g-3-color: #bb2222;
  --g-4-color: #dd3333;
  --g-5-color: #ff4040;

  --gp1-color: #ff4040;
  --gp2-color: #ff4040;
  --gp3-color: #ff4040;
  --gp4-color: #ff4040;
  --gp5-color: #40b088;
}

body {
  background-color: black;
  padding: 1em;
  font-family: 'Maria', monospace;
}

.board-group {
  position: absolute;
  z-index: 10;
}
.board {
  display: table;
  z-index: 10;
  padding-left: 2px;
  background-color: var(--board-bg-color);
  border: 2px solid var(--board-border-color);
}

.marking {
  display: table;
  width: 100%;
  background-color: transparent;
}
.marking .row {
  width: 100%;
  display: table-row;
}
.marking .row div
{
  display: table-cell;
  background-color: transparent;
  color: var(--marking-color);
  width: 54px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
}
.marking .row div:first-child {
  border-right: 5px solid transparent;
  width: 42px;
}
.marking .row div:after {
  content: "\00a0";
}

.marking .row .num:after {
  content: "";
}

.marking .row .num.f3:after {
  content: "\25cf";
}

.marking .row .num.f12:after {
  content: "\25cf\25cf";
}

.row {
  display: table-row;
  overflow: hidden;
}

.board .row:first-child > div {
  padding-top: 6px;
}

.row .num:first-child {
  border-width: 4px;
}

.board .row > div {
  display: table-cell;
  padding: 4px 12px;
  background-image: url(1x1.png);
  background-repeat: repeat-x;
  background-position-y: center;
  border-right: 1px solid var(--fret-color);
}

.board .row > :first-child {
  border-width: 4px;
  border-color: var(--nut-color);
   /* #666; */
  background-color: var(--nut-bg-color); 
  /* #000; */
  padding: 4px 6px;
}

.board .row > div:first-child .note {
  margin: 0;
}

.board.highlight .note {
  opacity: 0.25;
}

.board.highlight .note.highlight {
  opacity: 1;
}

.board.practice .note {
  border: solid 2px #666;
  background-color: #555;
  color: transparent;
}

.board.practice .note {
  opacity: 0;
}

.board.practice .note.highlight {
  opacity: 1;
}

.num {
  color: #aaa;
  border: solid 2px;
  border-color: transparent;
}

.row .num {
  width: 30.7px;
  height: 0.5em;
  font-size: medium;
}

.board.hidden .note.A,
.board.hidden .note.B,
.board.hidden .note.C,
.board.hidden .note.D,
.board.hidden .note.E,
.board.hidden .note.F,
.board.hidden .note.G {
  border: solid 2px #666;
  background-color: #555;
  color: transparent;
}

.note, 
.board.hidden .note.reveal,
.board.practice .note.reveal
{
  border: solid 2px var(--note-border-color);
  background-color: var(--note-bg-color);
  color: var(--note-color);
}

.note, .num {
  width: 30px;
  height: 30px;
  min-width: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Maria', monospace;
  margin: 4px 12px;
}

.odd,
.note.A,
.note.B,
.note.F,
.note.G,
.practice .note {
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
}

.note.A,
.board.hidden .note.reveal.A {
  background-color: var(--note-a-bg-color);
  color: var(--note-a-color);
}
.note.B,
.board.hidden .note.reveal.B {
  background-color: var(--note-b-bg-color);
  color: var(--note-b-color);
}
.note.C,
.board.hidden .note.reveal.C {
  background-color: var(--note-c-bg-color);
  color: var(--note-c-color);
}
.note.D,
.board.hidden .note.reveal.D {
  background-color: var(--note-d-bg-color);
  color: var(--note-d-color);
}
.note.E,
.board.hidden .note.reveal.E {
  background-color: var(--note-e-bg-color);
  color: var(--note-e-color);
}
.note.F,
.board.hidden .note.reveal.F {
  background-color: var(--note-f-bg-color);
  color: var(--note-f-color);
}
.note.G,
.board.hidden .note.reveal.G {
  background-color: var(--note-g-bg-color);
  color: var(--note-g-color);
}

.note:after {
  content: "\00a0";
}

.note.A:after {
  content: "A";
}

.note.B:after {
  content: "B";
}

.note.C:after {
  content: "C";
}

.note.D:after {
  content: "D";
}

.note.E:after {
  content: "E";
}

.note.F:after {
  content: "F";
}

.note.G:after {
  content: "G";
}

.timer-group {
  position: absolute;
  display: inline-block;

  top: 100px;
  left: 440px;
  padding-top: 300px;
  opacity: 0.4;
  z-index: 13;
}

.result.hidden,
.result .note.hidden,
.result .note-answer.hidden,
.timer-group.hidden {
  opacity: 0;
}

.note-answer {
  display: inline-block;
  padding-left: 30px;
  margin-right: -70px;
}

.note-answer:after {
  position: relative;
  left: -40px; 
  top: -6px;
  content: "";
  font-size: 70px;
  color: #aa0000;
  opacity: 0.6;
}
.note-answer.wrong:after {
  font-size: 80px;
  content: "\274c";
  top: 28px;
  left: -75px;
}

.note-answer.correct:after {
  top: 26px;
  left: -76px;
  content: "\2B55";
  font-size: 80px;
  color: #33bb33;
  opacity: 1;
}


.note.answered,
.note.expected {
  display: inline-block;
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border-width: 6px;
  width: 30px;
}

.note.answered.X:after {
  content: "?"
}

.note.expected {
  border-color: #33bb33;
}

.answer {
  color: white;
  font-size: x-large;
}

.status {
  font-family: 'Maria', monospace;
  color: var(--status-color);
  display: inline-block;
  width: 20em;
  text-align: center;
}

.gauge,
.controls {
  display: inline-block;
}

.gauge {
  vertical-align: top;
}

.gauge > * {
  vertical-align: middle;
}

.text-button ,
.note-button {
  background-color:var(--note-bg-color);
  color: var(--note-color);
  border: 2px solid var(--note-border-color);
  vertical-align: middle;
  font-family: 'Maria', monospace;
  border-radius: 8px;
}
.text-button {
  font-size: 20px;
  line-height: 20px;
}
.note-button {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  line-height: 24px;
  margin: 4px 8px;
}

.note-button:active {
  background-color:orange;
  color: #222;
  border-color: #666;
}

.note-answer-btn {
  display: inline-block;
  border: 6px solid transparent;
  /* border: 2px solid red; */
  border-radius: 16px;
  padding: 6px;
  overflow: hidden;
  vertical-align: top;
}

.note-answer-btn i,
.note-answer-btn span {
  display: block;
  vertical-align: middle;
  text-align: center;
  line-height: 44px;
  font-size: 30px;
  writing-mode: vertical-rl;
}

.note-answer-btn i {
  padding-top: 4px;
}
.note-answer-btn span {
  font-family: 'Maria', monospace;
  padding: 2px 0 ;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

.note-answer-btn.correct {
  background-color: var(--answer-correct-bg-color);
  border-color: var(--answer-correct-color);
}

.note-answer-btn.correct i,
.note-answer-btn.correct span {
  color: var(--answer-correct-color);
}

.note-answer-btn.lite span,
.note-answer-btn.lite i {
  display: none;
}

.note-answer-btn.wrong i.correct {
  display: none;
}
.note-answer-btn.correct i.wrong {
  display: none;
}
.note-answer-btn.correct span:after {
  content: "correct";
}

.note-answer-btn.wrong {
  background-color: var(--answer-wrong-bg-color);
  border-color: var(--answer-wrong-color);
}
.note-answer-btn.wrong i,
.note-answer-btn.wrong span {
  color: var(--answer-wrong-color);
}
.note-answer-btn.wrong span:after {
  content: "wrong";
}

.gauge {
  margin-top: 14px;
}
.gauge .bars {
  display: inline-block;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.bar {
  display: inline-block;
  width: 5px;
  height: 30px;
  border: none;
  background-color: #888;
  margin: 0 2px;
}

.gp4 .bar.gp5,
.gp3 .bar.gp5,
.gp3 .bar.gp4,
.gp2 .bar.gp5,
.gp2 .bar.gp4,
.gp2 .bar.gp3,
.gp1 .bar.gp5,
.gp1 .bar.gp4,
.gp1 .bar.gp3,
.gp1 .bar.gp2,
.g-4 .bar.g-5,
.g-3 .bar.g-5,
.g-3 .bar.g-4,
.g-2 .bar.g-5,
.g-2 .bar.g-4,
.g-2 .bar.g-3,
.g-1 .bar.g-5,
.g-1 .bar.g-4,
.g-1 .bar.g-3,
.g-1 .bar.g-2 {
  opacity: 0.3;
}

.gp1 .bar.g-1,
.gp1 .bar.g-2,
.gp1 .bar.g-3,
.gp1 .bar.g-4,
.gp1 .bar.g-5,
.gp2 .bar.g-1,
.gp2 .bar.g-2,
.gp2 .bar.g-3,
.gp2 .bar.g-4,
.gp2 .bar.g-5,
.gp3 .bar.g-1,
.gp3 .bar.g-2,
.gp3 .bar.g-3,
.gp3 .bar.g-4,
.gp3 .bar.g-5,
.gp4 .bar.g-1,
.gp4 .bar.g-2,
.gp4 .bar.g-3,
.gp4 .bar.g-4,
.gp4 .bar.g-5,
.gp5 .bar.g-1,
.gp5 .bar.g-2,
.gp5 .bar.g-3,
.gp5 .bar.g-4,
.gp5 .bar.g-5,
.g-1 .bar.gp1,
.g-1 .bar.gp2,
.g-1 .bar.gp3,
.g-1 .bar.gp4,
.g-1 .bar.gp5,
.g-2 .bar.gp1,
.g-2 .bar.gp2,
.g-2 .bar.gp3,
.g-2 .bar.gp4,
.g-2 .bar.gp5,
.g-3 .bar.gp1,
.g-3 .bar.gp2,
.g-3 .bar.gp3,
.g-3 .bar.gp4,
.g-3 .bar.gp5,
.g-4 .bar.gp1,
.g-4 .bar.gp2,
.g-4 .bar.gp3,
.g-4 .bar.gp4,
.g-4 .bar.gp5,
.g-5 .bar.gp1,
.g-5 .bar.gp2,
.g-5 .bar.gp3,
.g-5 .bar.gp4,
.g-5 .bar.gp5 {
  display: none;
}

.gp5 .streak,
.gp5 .emoji {
  color: var(--gp5-color);
}
.gp5 .bar {
  background-color: var(--gp5-color);
}
.gp4 .streak,
.gp4 .emoji {
  color: var(--gp4-color);
}
.gp4 .bar {
  background-color: var(--gp4-color);
}
.gp3 .streak,
.gp3 .emoji {
  color: var(--gp3-color);
}
.gp3 .bar {
  background-color: var(--gp3-color);
}
.gp2 .streak,
.gp2 .emoji {
  color: var(--gp2-color);
}
.gp2 .bar {
  background-color: var(--gp2-color);
}
.gp1 .streak,
.gp1 .emoji {
  color: var(--gp1-color);
}
.gp1 .bar {
  background-color: var(--gp1-color);
}
.g-5 .streak,
.g-5 .emoji {
  color: var(--g-5-color);
}
.g-5 .bar {
  background-color:var(--g-5-color);
}
.g-4 .streak,
.g-4 .emoji {
  color: var(--g-4-color);
}
.g-4 .bar {
  background-color: var(--g-4-color);
}
.g-3 .streak,
.g-3 .emoji {
  color: var(--g-3-color);
}
.g-3 .bar {
  background-color: var(--g-3-color);
}
.g-2 .streak,
.g-2 .emoji {
  color: var(--g-2-color);
}
.g-2 .bar {
  background-color: var(--g-2-color);
}
.g-1 .streak,
.g-1 .emoji {
  color: var(--g-1-color);
}
.g-1 .bar {
  background-color: var(--g-1-color);
}

.bar.gp1,
.bar.g-1 {
  height: 4px;
}
.bar.gp2,
.bar.g-2 {
  height: 6px;
}
.bar.gp3,
.bar.g-3 {
  height: 10px;
}
.bar.gp4,
.bar.g-4 {
  height: 16px;
}

.emoji {
  display: inline-block;
}
.emoji > * {
  /* font: inherit; */
  /* color: #888; */
  font-size: 30px;
  display: none;
}

.gp1 .emoji .gp1,
.gp2 .emoji .gp2,
.gp3 .emoji .gp3,
.gp4 .emoji .gp4,
.gp5 .emoji .gp5,
.g-1 .emoji .g-1,
.g-2 .emoji .g-2,
.g-3 .emoji .g-3,
.g-4 .emoji .g-4,
.g-5 .emoji .g-5 {
  display: inline-block;
}

.gauge.record .record-badge {
  display: inline-block;
}
.record-badge {
  /* display: inline-block; */
  display: none;
  vertical-align: middle;
  color: red;
  border: 1px solid red;
  border-radius: 8px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 14px;
  line-height: 20px;

  animation-name: badge-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.record-badge > * {
  display: inline-block;
  padding: 0;
}

@keyframes badge-color {
  0% {
    color: #222;
    border-color: #222;
  }
  50% {
    color: red;
    border-color: red;
  }
  100% {
    color: #222;
    border-color: #222;
  }
}
