@import url('https://fonts.cdnfonts.com/css/maria-2');

body {
  background-color: black;
  padding: 1em;
}

.board-group {
  position: absolute;
  z-index: 10;
}
.board {
  display: table;
  background-color: #222; 
  z-index: 10;
  border: none;
  padding-left: 2px;
  border: 2px solid #333;
}

.marking {
  display: table;
  width: 100%;
  background-color: transparent;
}
.marking .row {
  width: 100%;
  display: table-row;
}
.marking .row div
{
  display: table-cell;
  background-color: transparent;
  color: #999;
  width: 54px;
  /* height: 20px; */
  line-height: 16px;
  /* border-right: 1px solid gray; */
  text-align: center;
  vertical-align: middle;
  /* background-color: #444; */
}
.marking .row div:first-child {
  border-left: 5px solid transparent;
}
.marking .row div:after {
  content: "\00a0";
}

.marking .row .num:after {
  content: "";
}

.marking .row .num.f3:after {
  content: "\25cf";
}

.marking .row .num.f12:after {
  content: "\25cf\25cf";
}

.frets .row,
.strings .row {
  display: table-row;
}
.strings .row:first-child .string {
  height: 21px;
}
.strings .row:last-child .string {
  height: 21px;
  border:none;
}
.strings .string {
  display: table-cell;
  box-sizing: border-box;
  height: 40px;
}

.row {
  display: table-row;
  overflow: hidden;
}

.board .row:first-child > div {
  padding-top: 6px;
}

.row .num:first-child {
  border-width: 4px;
}

.board .row > div {
  display: table-cell;
  padding: 4px 12px;
  background-image: url(1x1.png);
  background-repeat: repeat-x;
  background-position-y: center;
  border-right: 1px solid #333;
}

.board .row > div:first-child {
  border-width: 4px;
  border-color: #666;
  background-color: #000;
}

.board.highlight .note {
  opacity: 0.25;
}

.board.highlight .note.highlight {
  opacity: 1;
}

.board.practice .note {
  border: solid 2px #666;
  background-color: #555;
  color: transparent;
}

.board.practice .note {
  opacity: 0;
}

.board.practice .note.highlight {
  opacity: 1;
}

.num {
  color: #aaa;
  border: solid 2px;
  border-color: transparent;
}

.row .num {
  width: 30.7px;
  height: 0.5em;
  font-size: medium;
}

.board.hidden .note.A,
.board.hidden .note.B,
.board.hidden .note.C,
.board.hidden .note.D,
.board.hidden .note.E,
.board.hidden .note.F,
.board.hidden .note.G {
  border: solid 2px #666;
  background-color: #555;
  color: transparent;
}

.note, 
.board.hidden .note.reveal
{
  border: solid 2px #555;
  background-color: #444;
  color: #ccc;
}

.note, .num {
  width: 30px;
  height: 30px;
  min-width: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Maria', monospace;
  margin: 4px 12px;
}

.odd,
.note.A,
.note.B,
.note.F,
.note.G,
.practice .note {
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
}

.note.A,
.board.hidden .note.reveal.A {
  background-color: orangered;
  color: black;
}
.note.B,
.board.hidden .note.reveal.B {
  background-color: green;
}
.note.C,
.board.hidden .note.reveal.C {
  background-color: brown;
}
.note.D,
.board.hidden .note.reveal.D {
  background-color: darkred;
}
.note.E,
.board.hidden .note.reveal.E {
  background-color: darkkhaki;
  color: black;
}
.note.F,
.board.hidden .note.reveal.F {
  background-color: darkblue;
}
.note.G,
.board.hidden .note.reveal.G {
  background-color: darkmagenta;
}

.note:after {
  content: "\00a0";
}

.note.A:after {
  content: "A";
}

.note.B:after {
  content: "B";
}

.note.C:after {
  content: "C";
}

.note.D:after {
  content: "D";
}

.note.E:after {
  content: "E";
}

.note.F:after {
  content: "F";
}

.note.G:after {
  content: "G";
}

.timer-group {
  /* position: relative; */
  position: absolute;
  display: inline-block;

  top: 100px;
  left: 440px;
  padding-top: 300px;
  opacity: 0.4;
  z-index: 13;
}

.result.hidden,
.result .note.hidden,
.result .note-answer.hidden,
.timer-group.hidden {
  opacity: 0;
}

.note-answer {
  display: inline-block;
  /* width: 80px; */
  /* padding-right: 0; */
  /* margin-right: -70px; */
  padding-left: 30px;
  margin-right: -70px;
  /* -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px; */
}

.note-answer:after {
  /* position: absolute; */
  position: relative;
  /* padding-left: -20px; */
  left: -40px; 
  top: -6px;
  content: "";
  font-size: 70px;
  color: #aa0000;
  opacity: 0.6;
}
.note-answer.wrong:after {
  font-size: 80px;
  content: "\274c";
  top: 28px;
  left: -75px;
}

.note-answer.correct:after {
  top: 26px;
  left: -76px;
  content: "\2B55";
  font-size: 80px;
  color: #33bb33;
  opacity: 1;
}


.note.answered,
.note.expected {
  display: inline-block;
  /* display: table-cell; */
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border-width: 6px;
  width: 30px;
  /* text-align: center; */
}

.note.answered.X:after {
  content: "?"
}

/* .note.answered:after {
  content: "A"
} */

.note.expected {
  border-color: #33bb33;
}

/* .status, */
.answer {
  color: white;
  font-size: x-large;
}

.status {
  font-family: 'Maria', monospace;
  color: #999;
}
