@import url("https://fonts.cdnfonts.com/css/maria-2");

@font-face {
  font-family: chordfont;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(fonts/TheSans_chord_font.woff2) format("woff2");
  src: url(fonts/TheSans_chord_font.woff) format("woff");
}

@font-face {
  font-family: thesans;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(fonts/TheSansB_300i.eot);
  src: url(fonts/TheSansB_300i.eot?#iefix) format("embedded-opentype"),url(fonts/TheSansB_300i.woff2) format("woff2"),url(fonts/TheSansB_300i.woff) format("woff"),url(fonts/TheSansB_300i.svg#TheSansB_300i) format("svg")
}

@font-face {
  font-family: thesans;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(fonts/TheSansB_500_.eot);
  src: url(fonts/TheSansB_500_.eot?#iefix) format("embedded-opentype"),url(fonts/TheSansB_500_.woff2) format("woff2"),url(fonts/TheSansB_500_.woff) format("woff"),url(fonts/TheSansB_500_.svg#TheSansB_500_) format("svg")
}

@font-face {
  font-family: thesans;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(fonts/TheSansB_700_.eot);
  src: url(fonts/TheSansB_700_.eot?#iefix) format("embedded-opentype"),url(fonts/TheSansB_700_.woff2) format("woff2"),url(fonts/TheSansB_700_.woff) format("woff"),url(fonts/TheSansB_700_.svg#TheSansB_700_) format("svg")
}

@font-face {
  font-family: thesans;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(fonts/TheSansB_700i.eot);
  src: url(fonts/TheSansB_700i.eot?#iefix) format("embedded-opentype"),url(fonts/TheSansB_700i.woff2) format("woff2"),url(fonts/TheSansB_700i.woff) format("woff"),url(fonts/TheSansB_700i.svg#TheSansB_700i) format("svg")
}

body {
  background-color: #222;
  padding: 1em;
  font-family: "Maria", monospace;
  color: #ccc;
}

body.light {
  background-color: #ccc;
  color: #333;
}

.chord {
  color: #ccc;
  display: none;
}

body.light .chord {
  color: #333;
}

.image-canvas {
  width: 300px;
  height: 350px;
  padding-top: 50px;
  font: 30px chordfont;
  text-align: center;
  display: none;
  background-color: #000;
  color: #fff;
}

body.light .image-canvas {
  background-color: #fff;
  color: #000;
}

.image-1x {
  width: 150px;
  height: 175px;
}

.image-2x {
  width: 300px;
  height: 350px;
}

.image-4x {
  width: 600px;
  height: 700px;
}

a {
  color: #ccc;
  font-family: chordfont;
  display: inline-block;
}

body.light a {
  color: #333;
}

button {
  border-radius: 0.4em;
  border: 1px solid;
  font: 11px thesans,Arial,sans-serif;
}

.status {
  font: 11px thesans,Arial,sans-serif;
  position: absolute;
  z-index: 1;
  left: 70px;
  top: 194px;
}

button {
  border-color: #666;
  background-color: #222;
  color: #ccc;
}

button.toggle .svg-inline--fa.dark {
  display:none;
}
button.toggle .svg-inline--fa.light {
  display: inline-block;
}

button.toggle {
  border-color: #ccc;
  background-color: #eee;
  color: #333;
}

button.toggle:hover,
button.toggle:active {
  background-color: #eee;
  color: #333;
}

button:hover {
  background-color: #353535;
  color: white;
}

button:active {
  background-color: #151515;
  color: #ccc;
}

body.light button {
  border-color: #ccc;
  background-color: #eee;
  color: #333;
}

body.light button:hover {
  background-color: #c5c5c5;
  color: black;
}

body.light button:active {
  background-color: #e5e5e5;
  color: #333;
}

body.light button.toggle {
  border-color: #666;
  background-color: #222;
  color: #ccc;
}

body.light button.toggle:hover,
body.light button.toggle:active {
  background-color: #353535;
  color: white;
}

body.light button.toggle .svg-inline--fa.light {
  display:none;
}

body.light button.toggle .svg-inline--fa.dark {
  display: inline-block;
}

.left-panel {
  display: inline-block;
  vertical-align: top;
}

.chord-list {
  /* background-color: red; */
  width: 400px;
  height: 180px;
  display: inline-block;
  /* display: flex; */
  padding-top: 20px;
}
.chord-btn {
  background-color: #999;
  color: #222;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  user-select: none;
}
body.light .chord-btn {
  background-color: #444;
  color: #cccccc;
}

a.chord-btn {
  text-decoration: none;
  user-select: none;
  margin: 4px;
}

.chord-selector,
.chord-btn {
  font-family: chordfont;
  cursor: pointer;
}
.chord-selector {
  padding-top: 20px;
  display: block;
  font-size: 0;
  vertical-align: top;
  position: relative;
}

.chord-sel-acc-group {
  position: absolute;
  z-index: 1;
  display: block;
  left:38px;
  user-select: none;
}

.chord-group-left,
.chord-group-right {
  display: inline-block;
  vertical-align: top;
}
.chord-sel-group {
  display: flex;
  position: relative;
  top: 16px;
  vertical-align: top;
  display: flex;
  cursor: pointer;
}

.chord-sel.acc {
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: absolute;
  box-sizing: content-box;
  border-left: 1px solid;
}

.chord-sel.acc:nth-child(1) {
  left:0;
}
.chord-sel.acc:nth-child(2) {
  left:33px;
}
.chord-sel.acc:nth-child(3) {
  left:72px;
}
.chord-sel.acc:nth-child(4) {
  left:105px;
}
.chord-sel.acc:nth-child(5) {
  left:216px;
}
.chord-sel.acc:nth-child(6) {
  left:249px;
}
.chord-sel.acc:nth-child(7) {
  left:288px;
}
.chord-sel.acc:nth-child(8) {
  left:321px;
}
.chord-sel.acc:nth-child(9) {
  left:360px;
}
.chord-sel.acc:nth-child(10) {
  left:393px;
}

.chord-sel {
  display: flex;
  width: 72px;
  height: 72px;
  border: 1px solid #999;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  border-left: 0;
  user-select: none;
  background-color: #222;
}

.chord-sel.acc {
  border-color: #999;
  font-size: 18px;
}

.chord-sel:hover {
  background-color: #333;
}

.chord-sel.active,
.chord-sel:active {
  background-color: #666;
  color: #fff;
}

body.light .chord-sel {
  background-color: #eee;
  border-color: #333;
}
body.light .chord-sel:hover {
  background-color: #aaa;
}
body.light .chord-sel.active,
body.light .chord-sel:active {
  background-color: #888;
  color: #111;
}

.chord-sel.acc.left,
.chord-sel:first-child {
  border-left: 1px solid #999;
}
.chord-sel.acc.left,
.chord-sel-group .chord-sel:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.chord-sel.acc.right,
.chord-sel-group .chord-sel:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.download-toggle.expanded .fa-arrow-down,
.download-toggle.collapsed .fa-arrow-right
{
 display: block;
}

.download-toggle.collapsed .fa-arrow-down,
.download-toggle.expanded .fa-arrow-right
{
 display: none;
}
