@import url("https://fonts.cdnfonts.com/css/maria-2");

@font-face {
  font-family: chordfont;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(fonts/TheSans_chord_font.woff2) format("woff2");
  src: url(fonts/TheSans_chord_font.woff) format("woff");
}

body {
  background-color: #222;
  padding: 1em;
  font-family: "Maria", monospace;
  color: #ccc;
}

body.light {
  background-color: #ccc;
  color: #333;
}

.chord {
  color: #ccc;
  display: none;
}

body.light .chord {
  color: #333;
}

.image-canvas {
  width: 300px;
  height: 350px;
  padding-top: 50px;
  font: 30px chordfont;
  text-align: center;
  display: none;
  background-color: #000;
  color: #fff;
}

body.light .image-canvas {
  background-color: #fff;
  color: #000;
}

.image-1x {
  width: 150px;
  height: 175px;
}

.image-2x {
  width: 300px;
  height: 350px;
}

.image-4x {
  width: 600px;
  height: 700px;
}

a {
  color: #ccc;
  font-family: chordfont;
  display: inline-block;
}

body.light a {
  color: #333;
}

button {
  border-radius: 0.4em;
  border: 1px solid;
}

button {
  border-color: #666;
  background-color: #222;
  color: #ccc;
}

button.toggle .svg-inline--fa.dark {
  display:none;
}
button.toggle .svg-inline--fa.light {
  display: inline-block;
}

button.toggle {
  border-color: #ccc;
  background-color: #eee;
  color: #333;
}

button.toggle:hover,
button.toggle:active {
  background-color: #eee;
  color: #333;
}

button:hover {
  background-color: #353535;
  color: white;
}

button:active {
  background-color: #151515;
  color: #ccc;
}

body.light button {
  border-color: #ccc;
  background-color: #eee;
  color: #333;
}

body.light button:hover {
  background-color: #c5c5c5;
  color: black;
}

body.light button:active {
  background-color: #e5e5e5;
  color: #333;
}

body.light button.toggle {
  border-color: #666;
  background-color: #222;
  color: #ccc;
}

body.light button.toggle:hover,
body.light button.toggle:active {
  background-color: #353535;
  color: white;
}

body.light button.toggle .svg-inline--fa.light {
  display:none;
}

body.light button.toggle .svg-inline--fa.dark {
  display: inline-block;
}

